<div class="jumbotron">
  <h2><%= @train.name() %></h2>

  <% if @train.cities.any?() %>
    <form  action="/train/" method="post">
      <input type="hidden" name="_method" value="delete">

      <% @cities.each() do |movie| %>
        <div class="checkbox">
          <label><input type="checkbox" name="city_ids[]" value="<%= city.id() %>"><%= city.name() %></label>

        </div>
      <% end %>
      <button type="submit" class="btn btn-primary">Delete Train</button>
    </form>
  <% end %>


  <h2>Update <%= @train.name() %>:</h2>

  <form action="/train/<%= @train.id() %>" method="post">

    <input type="hidden" name="_method" value="patch">
    <div class="form-group">
      <label for="name">Train's new name?</label>
      <input type="text" name="name" placeholder="eg Thomas" required>
    </div>
    <button type="submit" class="btn btn-primary">Update Train</button>
  </form>

  <h2>Delete <%= @train.name() %>:</h2>

  <form action="/train/<%= @train.id() %>" method="post">
    <input type="hidden" name="_method" value="delete">
    <button type="submit" class="btn btn-primary">Delete Train</button>
  </form>
</div>
